@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #edf0f2;
  --foreground: #171717;
  --primary: #004aad;
  --secondary: #fff;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --font-display: "Inter", "sans-serif";
  --breakpoint-2lg: 75rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-comfortaa: "Comfortaa", cursive;
  --font-nunito: "Nunito", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
